
Series\.xcworkspace/xcuserdata/juliovargasbautista\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

Series\.xcworkspace/xcuserdata/juliovargasbautista\.xcuserdatad/UserInterfaceState\.xcuserstate
